<%- include('../partials/header.ejs') %>

<h1>Are you sure you want to delete the <%= statusEffectToBeDeleted.name %> status effect?</h1>

    <form action="/character_information/Status_Effects/<%= statusEffectToBeDeleted.name%>?_method=DELETE" method="POST">
        <input type="submit" value="Yes, delete.">        
    </form>
    <a href="/character_information/Status_Effects/<%= statusEffectToBeDeleted.name %>">
        <button>No, take me back</button>
    </a>

<%- include('../partials/footer.ejs') %>
