<%- include('../partials/header.ejs') %>
<h1>Status Effects</h1>

<% for(let i = 0; i < statusEffectsInfo.length; i++) { %>
<img src=<%= statusEffectsInfo[i].img %>><br>
<a href = '/character_information/Status_Effects/<%= statusEffectsInfo[i].name %>'><h2>Name: <%= statusEffectsInfo[i].name %></h2></a>
<% } %>

<%- include('../partials/footer.ejs') %>
