<%- include('../partials/header.ejs') %>

<h1>List of Status Effects</h1>

<img src=<%=myStatusEffectsInfo.img %> alt="Image of <%= myStatusEffectsInfo.name %>">

<h2>Name: <%= myStatusEffectsInfo.name %></h2>
<h2>Description: <%= myStatusEffectsInfo.description %></h2>

<%- include('../partials/footer.ejs') %>