<%- include('../partials/header.ejs') %>

<<<<<<< HEAD
<h1>List of Status Effects</h1>
=======
<h1><%= myStatusEffectsInfo.name %></h1>
>>>>>>> 5e9bc4f350fa6b7cc2a008018f858c80e840d59f

<img src=<%=myStatusEffectsInfo.img %> alt="Image of <%= myStatusEffectsInfo.name %>">

<h2>Name: <%= myStatusEffectsInfo.name %></h2>
<h2>Description: <%= myStatusEffectsInfo.description %></h2>

<a href="/character_information/Status_Effects/<%= myStatusEffectsInfo.name %>/edit">Edit this stat</a><br>
<a href="/character_information/Status_Effects/<%= myStatusEffectsInfo.name %>/delete">Delete this stat</a>

<%- include('../partials/footer.ejs') %>