<%- include('../partials/header.ejs') %>

<h1>Are you sure you want to delete the <%= spellToBeDeleted.name %> spell?</h1>

    <form action="/equipment_magic/Spells/<%= spellToBeDeleted.name%>?_method=DELETE" method="POST">
        <input type="submit" value="Yes, delete.">        
    </form>
    <a href="/equipment_magic/Spells/<%= spellToBeDeleted.name %>">
        <button>No, take me back</button>
    </a>

<%- include('../partials/footer.ejs') %>
