<%- include('../partials/header.ejs') %>

<h1>List of Stats</h1>

<img src=<%=myStatsInfo.img %> alt="Image of <%= myStatsInfo.name %>">

<h2>Name: <%= myStatsInfo.name %></h2>
<h2>Soft Cap: <%= myStatsInfo.softCap %></h2>
<h2>Description: <%= myStatsInfo.description %></h2>

<%- include('../partials/footer.ejs') %>