<%- include('../partials/header.ejs') %>

<<<<<<< HEAD
<h1>List of Stats</h1>
=======
<h1><%= myStatsInfo.name %></h1>
>>>>>>> 5e9bc4f350fa6b7cc2a008018f858c80e840d59f

<img src=<%=myStatsInfo.img %> alt="Image of <%= myStatsInfo.name %>">

<h2>Name: <%= myStatsInfo.name %></h2>
<h2>Soft Cap: <%= myStatsInfo.softCap %></h2>
<h2>Description: <%= myStatsInfo.description %></h2>

<a href="/character_information/Stats/<%= myStatsInfo.name %>/edit">Edit this stat</a><br>
<a href="/character_information/Stats/<%= myStatsInfo.name %>/delete">Delete this stat</a>

<%- include('../partials/footer.ejs') %>