<%- include('../partials/header.ejs') %>
<div class='sub-header'><h2>Equipment and Magic</h2></div>
<% for(let i = 0; i < equipmentAndMagicInfo.length; i++) { %>

<img src=<%= equipmentAndMagicInfo[i].img %>><br>
<h2>Name: <a href = '/equipment_magic/<%= equipmentAndMagicInfo[i].urlName %>'>
    <%= equipmentAndMagicInfo[i].name %></a></h2>

<% } %>
<%- include('../partials/footer.ejs') %>